.content {
    position: absolute;
    top: 21%;
    bottom: 9%;
    left: 0;
    right: 0;
    padding: 2vmin;
    border-left: 3vw solid rgba(255,255,255,0.1);
    border-right: 3vw solid rgba(255,255,255,0.1);

    overflow: auto;
    background: linear-gradient(130deg, rgba(0,0,0,0.25), rgba(0,0,0,0.75));
    text-align: center;
    color: white;
    clip-path: polygon(0% 0%, 97% 0%, 100% 7%, 100% 100%, 3% 100%, 0% 95%);

    opacity: 1;

    animation: fade-in 1 1s ease-in-out;
}

.content:empty {
    opacity: 0;
    animation: fade-out 1 1s ease-in-out;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes fade-out {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0;
    }
}