.nav-wrapper { 
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    
    /* border: 5vmin solid transparent;
    border-image-source: url('../img/lines.png');
    border-image-slice: 12%;
    padding: 4vmin; */
    transition: all 1s;
}

@media (prefers-reduced-motion: no-preference) {
    .nav-wrapper {
        animation: nav-float infinite 10s linear;
    }
}


@keyframes nav-float {
    50% {
        transform: translate3d(-40%, 2vmin, 0);
    }
}

.nav {
    display: flex;
    flex-direction: column;

    transition: all 1s;
}

.nav:hover {
    /* transform: translate3d(0, 0, 10vmin); */
    transform: scale(1.1, 1.1);
}

.nav-wrapper.in-section {
    bottom: 2%;
    padding: 0;
    border: none;
    animation: none;
}

.nav-wrapper.in-section .nav {
    flex-direction: row;
    align-items: center;
}