.nav {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 20vw;
}

// Prevent buttons from twitching when user is interacting with them
.nav:hover .nav-btn {
    animation-name: none !important;
}