.nav-btn {
    margin: 0.25vh 0.5vw;
    background-size: cover;

    transition: all 1s, margin 0.1s;
	transform-origin: 50% 50%;
	font-weight: bold;
}

.nav-btn:nth-child(1) {
    background-image: url('../img/btn-texture1.png');
}
.nav-btn:nth-child(2) {
    transform-origin: 50% 50%;
    background-image: url('../img/btn-texture2.png');
}
.nav-btn:nth-child(3) {
    transform-origin: 50% 50%;
    background-image: url('../img/btn-texture3.png');
}
.nav-btn:nth-child(4) {
    background-image: url('../img/btn-texture4.png');
}

.nav-btn:nth-child(4) {
    transform-origin: 50% 0;
}

.nav-btn:hover {
    transform: scale(1.05, 1.10);
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.nav-btn.clicked {
    border-color: black;
    background-color: white;
    
    margin: 0.25vh;
    transform: none;
}