@import '../common.scss';

.section {
    min-height: 50vh;
    // padding-top: 10vh;
    background-color: #000e1c;

    background-image: url("../img/mountains-abstract-bottom-bg-2.png");
    background-position: center bottom;
    background-repeat: no-repeat;
}

h2 {
    margin: 0;
    padding: 14vh 0 0;
    background-image: url("../img/mountains-abstract-top-bg.png");
    background-position: center top;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 2.5em;
    @include letter-space;
}