@mixin abs($center: false) {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
    left: 0;
    
    @if $center == true {
        margin: 30px;
    }
}

@mixin drop-shadow {
    filter: drop-shadow(3px 3px 5px #00000070);
}

@mixin twitch-down($delay: 0s, $distance: 25px) {
    $keyframesName: twitch-down-#{unique-id()};
    
    animation-name: $keyframesName;
    animation-delay: $delay;
    animation-duration: 4s;
	animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    
	@keyframes #{$keyframesName} {
		2% {
			transform: translateY($distance);
        }
        7% {
            transform: translateY(0)
        }
	}
}

@mixin letter-space {
    letter-spacing: 0.08em;
}