html {
    scroll-behavior: smooth;
}

body {
	margin: 0;
    font-family: 'Bebas Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
	background-color: black;
	background-image: url("./img/mountains-bg.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
}

@media only screen and (max-width: 1400px) {
    body {
        background-size: auto;
        background-position-x: center;
        background-position-y: -5%;
    }
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.basicLightbox {
    background: rgba(0,0,0,0.8);
}